* {
  box-sizing: border-box;
}

main {
  background-image: url("../img/5_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3em;
  text-align: center;
}