@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: MagistralBold;
  src: local("MagistralBold"), url(../fonts/magistralbold.ttf);
}
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}
body a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}
.firstline-header {
  background-color: #909090;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.firstline-header .firstline-header__text {
  color: #fff;
  font-size: 14px;
}
.firstline-header .firstline-header__text:nth-child(1) {
  margin: auto auto auto 30px;
}
.firstline-header .firstline-header__text:nth-child(2) {
  margin: auto 18px auto auto;
}
.firstline-header .firstline-header__text:nth-child(3) {
  margin: auto 25px;
}
.firstline-header .firstline-header__singin {
  margin: auto 5px auto 25px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
.firstline-header .fa-arrow-right {
  font-size: 20px;
  color: #fff;
  margin-right: 100px;
  margin-left: 5px;
}
.secondline-header {
  background-color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 180px;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.secondline-header .secondline-header_logo {
  width: 384px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.secondline-header .secondline-header_logo .secondline-header_logo--wrap {
  max-width: 207px;
  margin-left: auto;
  margin-right: 64px;
  margin-top: 3px;
}
.secondline-header .secondline-header_logo .svg-logo {
  fill: #fff;
  width: 100%;
}
.secondline-header .secondline-header__search {
  width: 382px;
}
.secondline-header .secondline-header__search form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.secondline-header .secondline-header__search input {
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #333;
  border-radius: 5px 0 0 5px;
  color: #fff;
  font-size: 22px;
  max-width: 316px;
  min-height: 40px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 28px;
  padding-bottom: 6px;
  width: 100%;
}
.secondline-header .secondline-header__search button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffed00;
  margin-left: -4px;
}
.secondline-header .secondline-header__search button .fa-search {
  font-size: 22px;
  color: #fff;
  padding-bottom: 2px;
}
.secondline-header .secondline-header__cart {
  width: 384px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.secondline-header .secondline-header__cart .secondline-header__cart-icon {
  width: 80px;
  margin-right: 27px;
  margin-top: 2px;
  margin-left: auto;
}
.secondline-header .secondline-header__cart .secondline-header__cart-icon .cart_icon {
  fill: #fff;
  width: 100%;
}
.secondline-header .secondline-header__cart .secondline-header__cart-text {
  margin-right: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.secondline-header .secondline-header__cart .secondline-header__cart-text .secondline-header__cart-text--t:nth-child(1) {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 12px;
  margin-bottom: 7px;
}
.menu {
  background-color: #ffed00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 80px;
}
.menu .menu__items {
  box-sizing: border-box;
  width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  padding-bottom: 3px;
}
.menu .menu__items a {
  margin: auto;
}
.menu .menu__items:last-child {
  border-right: 3px solid #fff;
}
.gradient {
  margin: 0 auto;
  height: 20px;
  background: #ffed00 -webkit-repeating-linear-gradient(135deg, #ffed00, #ffed00 10px, #4c4c4c 10px, #4c4c4c 20px) fixed;
  background: #ffed00 repeating-linear-gradient(-45deg, #ffed00, #ffed00 10px, #4c4c4c 10px, #4c4c4c 20px) fixed;
}
.wrapper_contents {
  max-width: 1270px;
  height: 1500px;
  margin: 0 auto;
  background: url(../img/bg.jpg) no-repeat top;
  padding-top: 24px;
}
.article {
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.article .article__items {
  border: 1px solid #fff;
  width: 590px;
  height: 217px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.article .article__items .article__items-img1 {
  position: absolute;
  top: -79px;
  left: 0;
  width: 591px;
}
.article .article__items .article__items-img2 {
  position: absolute;
  width: 1100px;
  top: -126px;
  left: -496px;
}
.article .article__items .article__items-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  width: 146px;
  height: 48px;
  border: 2px solid #fff;
  position: absolute;
  z-index: 1000;
  left: 29px;
  top: 84px;
}
.article .article__items:first-child {
  margin-right: 15px;
}
.article .article__items:last-child {
  margin-left: 15px;
}
@media screen and (max-width: 820px) {
  .firstline-header {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .firstline-header .firstline-header__text:nth-of-type(1) {
    margin: 0;
    display: none;
  }
  .secondline-header {
    -webkit-flex-flow: row wrap-reverse;
    -ms-flex-flow: row wrap-reverse;
    flex-flow: row wrap-reverse;
  }
  .secondline-header .secondline-header_logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (max-width: 700px) {
  .firstline-header {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .firstline-header .firstline-header__text:nth-of-type(3) {
    margin: 0;
    display: none;
  }
  .firstline-header .fa-arrow-right {
    margin-right: 20px;
  }
}
@media screen and (max-width: 420px) {
  .fa-arrow-right {
    margin-right: 20px;
  }
  .firstline-header__text {
    display: none;
  }
}
