.kievstar {
  width: 50px;
  height: 48px;
}

.life {
  width: 50px;
  height: 62.4px;
}

.mts {
  width: 50px;
  height: 67.6px;
}

.phone-call {
  width: 50px;
  height: 50.1px;
}

.phone {
  width: 149.9px;
  height: 104.4px;
}

