@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@red: #ff0000;
@yellow: #ffed00;
@white: #fff;
@l-grey: #ddd;
@d-grey: #333;

.firstlie-heder{
  color: #909090;
  height: 30px;
}
